<header style="height: 5vh;z-index:10;">
	<nav class="navbar bg-body-tertiary fixed-top p-lg-0">
		<div class="container-fluid">
			<div style="width:100%;" class="d-flex justify-content-between align-items-center ms-5 my-3">
				<a class="navbar-brand" href="{{ path('home_inicio') }}">
					<img src="https://imgs.search.brave.com/q4ee-bllmKpi8aUxZJbBGQoCkFjA7b4M2IOmEL01otY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzU3Lzlk/LzczLzU3OWQ3Mzhm/MjBjOTM0MTg1ZTFh/NDE5YTdhMmQ4ZmYy/LS1sb2dvLWZpc2gt/Zi1sb2dvLmpwZw" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
				</a>
				<ul class="navbar-nav flex-row gap-3 me-5">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home_inicio') }}">Inicio</a>
					</li>
					<li class="nav-item dropdown">
						<button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Formularios
						</button>
						<ul class="dropdown-menu position-absolute">
							<li>
								<a class="dropdown-item" href="{{ path('form_simple') }}">Formulario Simple</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('form_bootstrap') }}">Formulario con Bootstrap</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('form_entity') }}">Formulario Entity</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('form_type') }}">Formulario Type</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('form_validacion') }}">Formulario Validacion</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('genders_home') }}">Géneros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('platforms_home') }}">Plataformas</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
